.search-input {
  height: 24px;
  min-width: 300px;
  border-radius: 5px;
  outline: none;
  border: none;
  text-indent: 5px;
}

.reset-btn {
  margin-left: -43px;
  color: #1e2390;
  font-size: 12px;
  cursor: pointer;
}